# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/db/*.db
data/processed/*.csv
!data/processed/.gitkeep
data/raw/*.csv
!data/raw/.gitkeep
logs/

# OS
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/
*.code-workspace

# Reports / images
reports/*.png
reports/*.html

# Distribution
dist/
build/
*.egg-info/
